@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Orbitron'
}

body {
    background-color: #111;
}

.temporizador {
    text-align: center;
    max-width: 300px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(240, 248, 255, 0.356);
    border-radius: 8px;
    padding: 10px;
}

.temporizador > h2 {
    margin:10px 0px;
}

#counter {
    height: 40px;
    font-size: 28px;
    margin: 10px 0px;
    text-align: center;
}

button {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1.1em;
    transition: all .5s;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #a1c0d1;
}

button:active {
    background-color: #111;
}


#relogio {
    width: 6em;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.356);
    border-radius: 8px;
    padding: 10px;
}

#relogio > picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
